.parent {
    -fx-background-color: white;
    -fx-background-radius: 15;
}

.header-text {
    -fx-font-size: 28px;
    -fx-font-weight: bold;
    -fx-text-fill: #333;
}

.input-field {
    -fx-background-color: #eee;
    -fx-pref-width: 250;
    -fx-padding: 10;
    -fx-background-radius: 5;
}

.btn-primary {
    -fx-background-color: #4B2C71;
    -fx-text-fill: white;
    -fx-background-radius: 20;
    -fx-padding: 10 40;
}

/* Le Volet Violet */
.side-pane {
    -fx-background-color: #6A349B;
    -fx-background-radius: 15;
}

.side-header {
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.side-text {
    -fx-text-fill: #ddd;
    -fx-padding: 20;
}

.btn-outline {
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-border-radius: 20;
    -fx-text-fill: white;
    -fx-padding: 8 35;
}